<GridLayout rows="auto, *" columns="2*, *">
  <TextField #groceryText [(ngModel)]="grocery" hint="Enter a grocery item" row="0" col="0"></TextField>
  <Button text="Add" (tap)="add()" row="0" col="1" [isEnabled]="!isLoading"></Button>

  <ScrollView row="1" colSpan="2">
    <StackLayout class="small-spacing">
      <GridLayout *ngFor="#item of items" columns="*, auto">
        <Label [text]="item.name" class="medium-spacing"></Label>
        <Button text="X" (tap)="delete(item)" col="1" [isEnabled]="!isLoading" class="delete-button"></Button>
      </GridLayout>
      
      <!--<grocery-item *ngFor="#item of items" [grocery]="item" [isLoading]="isLoading" 
        (delete)="delete($event)"></grocery-item>-->
    </StackLayout>
  </ScrollView>

  <ActivityIndicator [busy]="isLoading" rowSpan="2" colSpan="2" width="100" height="100"></ActivityIndicator>
</GridLayout>